<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/icon_page.png" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Admin Dashboard</title>
</head>
<body>
<div class="page-wrapper">
    <input type="checkbox" name="" id="menu-toggle" />
    <div class="sidebar">
        <div class="brand">
            <h3>
                <span class="lab la-staylinked"></span>
                <span style="color: #ff9184">FAS</span>SHOP
            </h3>
        </div>
        <div class="profile-card">
            <div class="profile-img" style="background-image: url(/img/6.jpg)"></div>
            <div class="profile-info">
                <h2>Quốc Hòa</h2>
                <small>Trang dành cho Admin</small>
            </div>
            <div class="profile-action">
                <a href="" class="btn btn-white">
                    <span class="las la-coins"></span>
                    $2,300
                </a>
            </div>
            <div class="profile-icons">
                <span class="las la-users"></span>
                <span class="las la-comment-alt"></span>
                <span class="las la-file-invoice"></span>
            </div>
        </div>
        <div class="sidebar-menu">
            <div class="menu-item">
                <a href="/web_shop/admin">
                    <span class="las la-home"></span>
                    <span>Home</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/web_shop/admin/products" >
                    <span class="las la-project-diagram"></span>
                    <span>Sản phẩm</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/web_shop/admin/feedbacks">
                    <span class="lar la-comments"></span>
                    <span>Phản hồi</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/web_shop/admin/orders">
                    <span class="las la-columns"></span>
                    <span>Đơn hàng</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/web_shop/admin/customers" class="active">
                    <span class="las la-user"></span>
                    <span>Khách hàng</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/web_shop/admin/stats">
                    <span class="las la-chart-bar"></span>
                    <span>Thống kê</span>
                </a>
            </div>
        </div>
        <div class="sidebar-card">
            <h3>Xin chào</h3>
            <p>Hãy hoàn thành công việc của mình thật tốt nha các bạn, có gì khó khăn hãy liên hệ sếp, sếp yêu các bạn</p>
            <a href="" class="btn btn-block btn-white">Gọi sếp</a>
        </div>
    </div>
    <div class="main-content">
        <header>
            <label for="menu-toggle">
                <span class="las la-bars"></span>
            </label>
            <div class="head-icons">
                <span class="las la-search"></span>
                <span class="las la-comment-alt"></span>
                <span class="las la-bell"></span>
                <div class="head-avatar">
                    <div class="avatar" style="background-image: url(/img/1.jpg)"></div>
                    <span>Rosé</span>
                </div>
            </div>
        </header>
        <main>
            <div class="page-header">
                <h1>Quản lí thông tin khách hàng</h1>
                <small>Chúc các bạn một ngày tốt lành!</small>
            </div>
            <div class="table-product-container">
                <div class="card table-products-alls">
                    <div class="card-head">
                        <div class="product-head">
                            <div>
                                <h3>Khách hàng</h3>
                                <small>Chi tiết thông tin khách hàng</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <form action="/web_shop/admin/customers/update" th:object="${customer}">
                                <input type="hidden" th:field="*{id}" name="id">
                                <div class="form-group">
                                    <label for="firstName">
                                        <h4>Họ</h4>
                                    </label>
                                    <input type="text" id="firstName" class="form-control input" th:field="*{firstName}" readonly />
                                </div>
                                <div class="form-group">
                                    <label for="lastName">
                                        <h4>Tên</h4>
                                    </label>
                                    <input type="text" id="lastName" class="form-control input" th:field="*{lastName}" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="job">
                                        <h4>Công việc</h4>
                                    </label>
                                    <input type="text" id="job" class="form-control input" th:field="*{job}" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        <h4>E-mail</h4>
                                    </label>
                                    <input type="text" id="email" class="form-control input" th:field="*{email}" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="phone">
                                        <h4>Phone number</h4>
                                    </label>
                                    <input type="text" id="phone" class="form-control input" th:field="*{phone}" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="role">Quyền</label>
                                    <select name="role" id="role" class="form-control input" >
                                        <option selected disabled style="color: #e5e5e5">Chọn quyền cho người dùng</option>
                                        <th:block th:each="r : ${listRole}">
                                            <div th:if="${role}">
                                                <option th:selected="${r.id} eq *{role.id}" th:value="${r.id}">[[${r.name}]]</option>
                                            </div>
                                            <option th:value="${r.id}">[[${r.name}]]</option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="card-footer border-top">
                                    <div class="action-add-product">
                                        <input type="submit" class="btn btn-save" value="Lưu"/>
                                        <a href="/web_shop/admin/customers" class="btn btn-danger">Hủy</a>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
