<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/icon_page.png" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Admin Dashboard</title>
</head>
<body>
<div class="page-wrapper">
    <input type="checkbox" name="" id="menu-toggle" />
    <div class="sidebar">
        <div class="brand">
            <h3>
                <span class="lab la-staylinked"></span>
                <span style="color: #ff9184">FAS</span>SHOP
            </h3>
        </div>
        <div class="profile-card">
            <div class="profile-img" style="background-image: url(/img/6.jpg)"></div>
            <div class="profile-info">
                <h2>Quốc Hòa</h2>
                <small>Trang dành cho Admin</small>
            </div>
            <div class="profile-action">
                <a href="" class="btn btn-white">
                    <span class="las la-coins"></span>
                    $2,300
                </a>
            </div>
            <div class="profile-icons">
                <span class="las la-users"></span>
                <span class="las la-comment-alt"></span>
                <span class="las la-file-invoice"></span>
            </div>
        </div>
        <div class="sidebar-menu">
            <div class="menu-item">
                <a href="">
                    <span class="las la-home"></span>
                    <span>Home</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/web_shop/admin/products">
                    <span class="las la-project-diagram"></span>
                    <span>Sản phẩm</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/web_shop/admin/feedbacks">
                    <span class="lar la-comments"></span>
                    <span>Phản hồi</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/web_shop/admin/orders" class="active">
                    <span class="las la-columns"></span>
                    <span>Đơn hàng</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/web_shop/admin/customers">
                    <span class="las la-user"></span>
                    <span>Khách hàng</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/web_shop/admin/stats">
                    <span class="las la-chart-bar"></span>
                    <span>Thống kê</span>
                </a>
            </div>
        </div>
        <div class="sidebar-card">
            <h3>Xin chào</h3>
            <p>Hãy hoàn thành công việc của mình thật tốt nha các bạn, có gì khó khăn hãy liên hệ sếp, sếp yêu các bạn</p>
            <a href="" class="btn btn-block btn-white">Gọi sếp</a>
        </div>
    </div>
    <div class="main-content">
        <header>
            <label for="menu-toggle">
                <span class="las la-bars"></span>
            </label>
            <div class="head-icons">
                <span class="las la-search"></span>
                <span class="las la-comment-alt"></span>
                <span class="las la-bell"></span>
                <div class="head-avatar">
                    <div class="avatar" style="background-image: url(/img/1.jpg)"></div>
                    <span>Rosé</span>
                </div>
            </div>
        </header>
        <main>
            <div class="page-header">
                <h1>Quản lí đơn hàng</h1>
                <small>Chúc các bạn một ngày tốt lành!</small>
            </div>
            <div class="product-tag">
                <div>
                    <a href="/web_shop/admin/orders" class="btn" th:classappend="${status} eq 0 ? 'btn-choosed' : 'btn-white'" >Chờ xử lý</a>
                </div>
                <div>
                    <a href="/web_shop/admin/orders_delivering" class="btn" th:classappend="${status} eq 1 ? 'btn-choosed' : 'btn-white'">Đang giao</a>
                </div>
                <div>
                    <a href="/web_shop/admin/orders_deliveried" class="btn " th:classappend="${status} eq 2 ? 'btn-choosed' : 'btn-white'">Đã giao</a>
                </div>
            </div>
            <div class="table-product-container">
                <div class="card table-products-alls">
                    <div class="card-head">
                        <div class="product-head">
                            <div>
                                <h3>Đơn hàng</h3>
                                <small>Quản lý đơn hàng</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table>
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Khách hàng</th>
                                <th>Ngày đặt</th>
                                <th>Trạng thái</th>
                                <th>Tổng tiền</th>
                                <th>Địa chỉ</th>
                                <th>Lưu ý</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:unless="${amount} eq 0">
                                <th:block th:each="o : ${listOrder}">
                                    <tr class="order-item">
                                        <td class="id-order">[[${o.id}]]</td>
                                        <td class="name-customer">
                                            <div>
                                                <p>[[${o.customerId.firstName}]] [[${o.customerId.lastName}]]</p>
                                            </div>
                                        </td>
                                        <td class="date-order">
                                            <p>[[${o.orderDate}]]</p>
                                        </td>
                                        <td class="status-order">
                                            <div th:if="${o.status} eq 0">
                                                <p>Đang chờ xử lý</p>
                                            </div>
                                            <div th:if="${o.status} eq 1">
                                                <p>Dang giao hang</p>
                                            </div>
                                            <div th:if="${o.status} eq 2">
                                                <p>Da giao hang</p>
                                            </div>
                                        </td>
                                        <td class="total-price">
                                            <p>[[${o.totalPrice}]]</p>
                                        </td>
                                        <td class="address-delivery">
                                            <p th:if="${o.deliveryAddress}">[[${o.deliveryAddress.addressLine}]]</p>
                                        </td>
                                        <td class="comment-order">
                                            <p>[[${o.comment}]]</p>
                                        </td>
                                        <td class="action-product">
                                            <a th:href="@{'/web_shop/admin/orders/details/' + ${o.id}}" class="btn btn-main bg-success">Chi tiết</a>
                                            <a th:href="@{'/web_shop/admin/orders/cancel/' + ${o.id}}" class="btn btn-main bg-danger">Hủy đơn</a>
                                        </td>
                                    </tr>
                                </th:block>
                            </div>
                            </tbody>
                        </table>
                        <div th:if="${amount} eq 0" style="text-align: center; margin: 100px 0 100px 0;">
                            <h3>Chưa có đơn hàng nào</h3>
                        </div>
                    </div>
                    <div class="card-footer border-top">
                        <div class="number-product">
                            <h3>Đang hiển thị [[${amount}]] đơn hàng</h3>
                        </div>
                        <div class="paging">
                            <a class="btn btn-primary">1</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
