<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đặt lại mật khẩu</title>
    <link rel="icon" href="https://bn1301files.storage.live.com/y4mLnKTKHhOwtlir6rcVh_sb-tC2fCnHDe7PNAF755gn4mzESCskgLhce5m3ZTaDTDDv0Zpwk869N4nv_HUq9Nazs4JxcuGg9xJmvyrwAwuc0rtUBgeSjCWsVyJjXnVfhDW2JxFtYwa9GwPeAtTFPhlCVdAp8MZk361Mmv0n3grNVeNy9YoPiPOa8wu4Kex_5B92iMh7SNucxu05Od7S1WD8mJp6UKBK1njxfrzpha2iSA?encodeFailures=1&width=51&height=59"/>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Hãy kiểm tra thư điện tử để đặt lại mật khẩu</h1> <br>
    <h2>Quay lại <a href="/sign_in_sign_up">đăng nhập</a></h2>
</body>
</html>