<!DOCTYPE html>
<html lang="en"
      layout:decorate="_layout_client"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet"/>
    <title>Trang chủ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/templatemo-hexashop.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/owl-carousel.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/lightbox.css}" />
</head>
<body>
<div th:insert="~{component/_header :: header}">Header</div>
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Check Our Products</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Latest Products</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <th:block th:each="p : ${listProduct}">
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li>
                                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <img th:src="@{'/api/products/resources/images/' + ${p.thumbnailPhoto}}" alt="" />
                        </div>
                        <div class="down-content">
                            <h4>[[${p.name}]]</h4>
                            <span>[[${p.listPrice}]] VNĐ</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </th:block>
            <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->
<div th:replace="~{component/footer :: footer}">Footer</div>
<!-- jQuery -->
<script th:src="@{/assets/js/jquery-2.1.0.min.js}" type="text/javascript"></script>

<!-- Bootstrap -->
<script th:src="@{/assets/js/popper.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>

<!-- Plugins -->
<script th:src="@{/assets/js/owl-carousel.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/accordions.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/datepicker.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scrollreveal.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/waypoints.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/jquery.counterup.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/imgfix.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/slick.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/lightbox.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/isotope.js}" type="text/javascript"></script>

<!-- Global Init -->
<script src="/assets/js/custom.js" type="text/javascript"></script>
</body>
</html>