<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/icon_page.png" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Admin Dashboard</title>
</head>
<body>
<div class="page-wrapper">
    <input type="checkbox" name="" id="menu-toggle" />
    <!--Side bar    -->
    <div th:replace="~{component/sidebar :: sidebar}"></div>
    <!-- Side bar end    -->
    <div class="main-content">
        <div th:replace="~{component/_header_admin :: _header_admin}"></div>
        <main>
            <div class="page-header">
                <h1>Quản lí đánh giá của khách hàng</h1>
                <small>Chúc các bạn một ngày tốt lành!</small>
            </div>
            <div class="table-product-container">
                <div class="card table-products-alls">
                    <div class="card-head">
                        <div class="product-head">
                            <div>
                                <h3>Phản hồi</h3>
                                <small>Quản lí phản hồi của khách hàng</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <th:block th:each="f : ${listFeedback}">
                            <div class="feedback-product-item">
                                <div class="feedback-product-item-left">
                                    <div class="customer-info">
                                        <div class="customer-info-image">
                                            <img th:src="@{/img/person_icon.png}">
                                        </div>
                                    </div>
                                    <div class="feedback-content">
                                        <div class="name-customer">
                                            <div>
                                                <h4 ><span style="color: #1b9ef8; font-style: normal; font-size: 1.1rem">[[${f.customerId.lastName}]] </span> <span>-</span> <span style="font-style: normal">[[${#dates.format(f.modifiedDate, 'dd-MM-yyyy')}]]</span></h4>
                                            </div>
                                        </div>
                                        <div class="feedback-content-body">
                                            <p>[[${f.content}]]</p>
                                        </div>
                                        <div class="response-feedback">
                                            <p><a href="" alt="">PHẢN HỒI</a></p>
                                            <div class="icon-action">
                                                <span class="las la-thumbs-up"></span>
                                                <span class="las la-thumbs-down"></span>
                                                <span class="las la-heart"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item" style="display: flex; flex-direction: column; justify-content: center; width: 200px;align-items: center">
                                    <div class="product-image" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                                        <img th:src="@{'/api/products/resources/images/' + ${f.productId.thumbnailPhoto}}" alt="Ao thun" />
                                    </div>
                                    <div class="product-info">
                                        <p>[[${f.productId.name}]]</p>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-footer border-top">
                        <div class="number-product">
                            <h3>Đã có [[${amount}]] phản hổi từ khách hàng</h3>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
